h1 {
    color: aqua;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    background-color: #B484D9
}
.href {
    text-decoration: none;
    color: aquamarine;
    font-size: 25px;
    text-align: center;
}
nav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}
nav a:hover { 
    left: 0;

}
.hrefs {
    margin-top: 20px;
background-color: green;
color: aqua;
}
.blog {
    margin-top: 80px ;
    background-color: #2196F3 ;
    color: aqua;
}
.contacts {
margin-top: 157px;
background-color: blue;
color: aqua;
}
.contact {
background-color: blue;
color: aqua;
}
.left {
    margin-left: 150px;
    color: #4CAF50 ;
    
   
}
.center {
    margin-left: 150px;
    color: blueviolet;
    font-size: 60px;
   
}
.right {
    margin-left: 150px;
    color: red;
    font-size: 60px;
   
}
.main { margin-left: 150px;
box-shadow: 10px 10px 6px black ;

}
table {
    border: 5px solid red;
    color: chocolate;
    border-radius: 5px;
    font-size: 60px;
}
h2 { text-align: center;
color: aqua;
text-shadow: 2px 2px 4px black;
    background-color: #6D12DC
}
body {
    background-color: darkslateblue;
    font-size: 60px;
}
.video {
    border: 4px solid wheat;

}
.footer {
    margin-top: 50px;
    border: 3px double violet;
    color: aqua;
}
.fish {
   margin-top: 50px;
   color: darkslateblue;
}
h1 {
    color: plum;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}
h2 { text-align: center;
color: purple;
text-shadow: 2px 2px 4px black;
}

.fishing {
    color: cyan;
}
.video {
    border: 4px solid white;
}
p {
    color: chartreuse;
}
.footer {
    border-left:30px double blue ;
    font-size: 30px;
}
.footere {
    margin-top: 50px;
    border: 3px double violet;
    color: aqua;
}
.container {
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}

.gallery img {
    opacity: 0.2;
    width: 150px;
    height: 200px;
}

.gallery img:hover {
    opacity: 1;
    margin: 20px;
    border: 3px solid navy;
}
table {
    border: 5px double blueviolet;
    color: blue;
    border-radius: 5px;
    font-size: 60px;
}

