h1 {
    color: aqua;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}
.href {
    text-decoration: none;
    color: aquamarine;
    font-size: 25px;
    text-align: center;
}
nav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}
nav a:hover { 
    left: 0;

}
.href {
    margin-top: 20px;
background-color: #4CAF50;
color: aqua;
}
.blog {
    margin-top: 80px ;
    background-color: #2196F3 ;
    color: aqua;
}
.contact {
margin-top: 157px;
background-color: blue;
color: aqua;
}
.left {
    margin-left: 150px;
    color: #4CAF50 ;
    
   
}
.center {
    margin-left: 150px;
    color: blueviolet;
   
}
.right {
    margin-left: 150px;
    color: blue;
   
}
.main { margin-left: 150px;
box-shadow: 10px 10px 6px black ;

}
table {
    border: 5px solid red;
    color: chocolate;
    border-radius: 5px;
}
h2 { text-align: center;
color: aqua;
text-shadow: 2px 2px 4px black;
}
body {
    background-color: darkslateblue;
}
.video {
    border: 4px solid wheat;

}
.footer {
    margin-top: 50px;
    border: 3px double violet;
    color: aqua;
}
.fish {
   margin-top: 50px;
   color: darkslateblue;
}
